html {
    font-size: 10pt;
    }


    :root {
        --h1-text-size:  30pt;
        --primary-font: "Helvetica", sans-serif;
        --blue: #23e9b7;
        --pink: #e922b7;
        --white: #e7ffff;
        --black: #000000; 
    }


    header {
        background-color: var(--blue);
        color: var(--black);
        font-size: var(--h1-text-size);
        margin-left: auto;
        margin-right: auto;
        height: 220px;

    }

    .button {
        border: solid;
        border-color: var(--pink);
        border-radius: 5px;
        height: 15px;
        width: 40px;
        padding: 20px;
    }

    .button:hover {
        background-color: var(--pink);
    }

    body {
        background-color: var(--white);
        color: var(--black);
    }

    .container {
        width: 500px;
        padding: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    #content {
        color: (--black);
        font-style: var(--primary-font);
    }

    img {
        border-radius: 5px;
        width: 150px;
    }

    h1 {
        color: var(--pink);
        text-align: center;
    }