html {
    font-size: 10pt;
    }


    :root {
        --h1-text-size:  30pt;
        --primary-font: "Helvetica", sans-serif;
        --header-color: #23e9b7;
        --background-color: #e7ffff;
        --text-color: #000000; 
    }


    header {
        background-color: var(--header-color);
        color: var(--text-color);
        font-size: var(--h1-text-size);
    }

    body {
        background-color: var(--background-color);
        color: var(--text-color);
    }